@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

@font-face {
  font-family: 'Silver';
  src: url('../../font/Silver.ttf');
}

body {
  margin: 0;
  text-align: center;
  color: #000;
  background: #fff url("../../images/gaming-pattern.png") left top repeat;
  font-family: "Silver", "cwTeXYen", "微軟正黑體";
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
  padding-top: 90px;
  text-align: center;
}

h3{
  text-align: left;
  font-size: 3rem;
  color: #eee;
  font-weight: 400;
  padding: 40px 50px 0px 50px;
}

h4{
  text-align: left;
  font-size: 2.5rem;
  color: #eee;
  font-weight: 400;
  margin: -45px 0px 0px 100px;
}

.full-width{
  width: 100%;
}

.fixed-width{
  width: 1000px;
  margin: auto;
}

.game {
  height: 100%;
}

.download {
  position: relative;
  left: 50%;
  margin-left: -420px;
  height: 250px;
}

.downloadItem {

  float: left;
  height: 150px;
  width: 26%;
  background-color: #8a8;
  margin: 10px 10px 0px 10px;
  border-radius: 25px;
  color: #fff;
  font-size: 3.2rem;
  text-decoration: none;
  display: block;
  padding: 50px 0 0 0;

}

.downloadItem:hover{
  color: #222;
  background-color: #ded;
  transition:color 0.3s ,background-color 0.5s;
}

.drive {
  margin: 10px 20px 0 10px;
  font-size: 3.0rem;
}

iframe{
   width:816px;
   height:624px;
}

.overlayHowToPlay{
  background-color: rgba(0, 0, 0, 0.6);
  height: 600px;
  z-index: -1;
  border-radius: 25px;

}

.overlayNotice{
  background-color: rgba(0, 0, 0, 0.6);
  height: 600px;
  z-index: -1;
  border-radius: 25px;

}

.footer{
  background-color: #444;
  height: 40px;
}

.footer h5{
  color: #777;
  font-size: 0.5rem;
  margin: 0;
  padding-top: 10px;
  font-family: "cwTeXYen","微軟正黑體";
}
