@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

@font-face {
  font-family: 'Cubic';
  src: url('../font/Cubic.woff2');
}

body{
  margin: 0;
  text-align: center;
  background-color: #fff;
  color:#000;
  font-family: "Cubic","cwTeXYen","微軟正黑體";
  /*cwTeXYen*/
}

.full-width{
  width: 100%;
}

.fixed-width{
  width: 1000px;
  margin: auto;
}

.nav {
  position: fixed;
  top:0;
  left: 0;
  text-decoration: none;
  height: 60px;
  background-color:  rgba(255,255,255,0.7);
  z-index: 2;
}

.logo{
  position: fixed;
  top:10px;
  text-decoration: none;
  height: 60px;
  z-index: 2;
  font-size: 2rem;
  font-weight: 500;
  display: block;
  margin-left: 20px;
}

.nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li{
  float: right;
}

.nav a{
  text-decoration: none;
  color:#000;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 40px;
  letter-spacing: 0.1em;
  display: block;
  height: 45px;
  width:80px;
  padding: 15px 0 0 5px;
}

.nav a:hover{
  color: #7ff;
  transition:color 0.3s ,border-bottom 0.5s,background-color 0.5s;
  border-bottom:5px solid #6ee;
  background-color: rgba(0,0,0,0.5);
}

.background{
  height: 1000px;
  padding-top: 40px;
  
  background: #ccc url("../images/mainpage.webp") center top no-repeat;
  background-size: cover;
  filter:blur(10px);
}

.mainpage {
  position: absolute;
  top:0;

}

.mainpage h1{
  font-size: 5rem;
  padding-top: 100px;
}

.mainpage h2{
  font-size: 3rem;
}

.overlay{
  background-color: rgba(255,255,255,0.8);
  height: 750px;
  border-radius: 25px;
  margin-top: 100px;
}

.MemorialBook{
  background-color: #fff;
  height: 1000px;
  padding-top: 100px;
  background: #ccc url("../images/spikes.webp") left top repeat;
}

.MemorialBook h3{
  font-size: 4rem;
  text-align: left;
  margin-top: 0;
  color: #222;
  font-weight:600;
}

.graduationMemorialBook{
 margin-top: -50px;
}

.thumbs_s{
  text-align: center;
  margin-top: -45px;
}

.thumbs_s img{
  width: 70px;
}

.Album{
  background-color: #adc;
  height: 1000px;
  background: #ccc url("../images/prism.webp") left top repeat;
}

.Album h3 ,.Info h3{
  font-size: 4rem;
  text-align: left;
  margin-top: 0;
  padding-top: 90px;
  color: #eee;
  font-weight: 200;
}

.item{
  float: left;
  background-color: #222;
  width: 30%;
  height: 350px;
  margin:0px 10px 0 10px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 8rem;
  padding: 100px 0 0 0;
}

.item h4{
  font-family: "Cubic","微軟正黑體","cwTeXYen";
  font-size: 2rem;
  font-weight: 200;
  line-height: 3rem;
}

.item:hover{
  color:#333;
  background-color: #fff;
  transition:color 0.3s, background-color 0.5s;
}

.Password h3{
  font-size: 4rem;
  text-align: left;
  margin-top: 0;
  padding-top: 90px;
  color: #222;
  font-weight: 600;
}

.Password{
  background-color: #cad;
  height: 1000px;
  background: #ccc url("../images/email-pattern.webp") left top repeat;
}

.m0{
  margin: 0;
}

.data {
  width: 500px;
  height: 75px;
  font-size: 2.5rem;
  font-family: "Cubic","微軟正黑體","cwTeXYen";
  padding: 10px 10px 0  20px;
  border: 3px solid rgba(0,0,0,0.7);
  border-radius: 20px;
  background-color: rgba(255,255,255,0.3);
}

.data:focus{
  border: solid #000 2px;
  background-color: rgba(0,0,0,0.1);
  outline:none;
}

.btnOK{
  width: 500px;
  height: 75px;
  font-size: 2rem;
  font-family: "Cubic","微軟正黑體","cwTeXYen";
  margin-top: 50px;
  border: 3px solid rgba(0,0,0,0.7);
  padding-top: 5px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
  font-weight: 500;
}

.btnOK:hover{
  background-color: #333;
  color: #eee;
  transition:background-color 0.3s,color 0.2s;
}

.Info{
  background-color: #baa;
  height: 1000px;
  background: #ccc url("../images/grey_wash_wall.webp") left top repeat;
}

.infoOverlay{
  height: 650px;
  background-color: rgba(0,0,0,0.5);
  margin: -70px 0 0 0;
  border-radius: 25px;
}

.infoOverlay h2{
  color: #eee;
  font-size: 2rem;
  padding-top: 10px;
  padding-left: 50px;
  float: left;
  text-align: left;
  letter-spacing: 0.5rem;
  font-weight: 100;
}

.footer{
  background-color: #444;
  height: 40px;
}

.footer h5{
  color: #777;
  font-size: 0.5rem;
  margin: 0;
  padding-top: 10px;
  font-family: "cwTeXYen","微軟正黑體";
}

.graduationMemorialBookPhone{
  display: none;
}

.gamebox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: -50px;
}

.gamebox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gameitem{
  float: left;
  background-color: #222;
  width: 45%;
  height: 220px;
  margin:0px 10px 0 10px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 8rem;
  }

.gameitem h4{
  font-family: "Cubic","微軟正黑體","cwTeXYen";
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5rem;
  text-align: left;
  padding-left: 10%;
}